[Unit]
Description=Powertop tunings

[Service]
ExecStart=/usr/bin/powertop --auto-tune; /bin/echo 'on' > '/sys/bus/usb/devices/1-1/power/control'
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

