[user]
	email = ashton@ashtonc.ca
	name = Ashton Charbonneau
[core]
	editor = vim
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX

